::-webkit-scrollbar {
    display: none;
}

.project-container{
    position: relative;
}

.project-title-display{
    position: absolute;
    bottom: 15%;
    max-width: 60%;
}

.project-title{
    width: fit-content;
    opacity: 0.75;
}

.project-title:hover{
    cursor: pointer;
}

.project-badge{
    position: absolute;
    top: 5%;
    right: 12%;
    opacity: 1.0;
}
